modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[unitTest]
language = "nodejs"

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[env]
PORT = "3001"

[debugger]
support = true

[debugger.interactive]
transport = "localhost:0"
startCommand = ["dap-node"]

[debugger.interactive.initializeMessage]
command = "initialize"
type = "request"

[debugger.interactive.launchMessage]
command = "launch"
type = "request"
[debugger.interactive.launchMessage.arguments]
cwd = "${workspaceFolder}"
args = []
console = "externalTerminal"
pauseOnThrow = false

[ports]
3001 = {
  name = "Adiology API"
  description = "Express server"
  localResolver = "127.0.0.1:3001"
  externalResolver = "adiology-${REPL_SLUG}.replit.dev:443"
}
